body {
  background-color: aliceblue;
  padding-left: 20px;
  padding-top: 30px;
  font-family: 'Single Day', cursive;
}

h1 {
  background-color: lightpink;
  width: 200px; height: 40px;
  border-radius: 10px;
  border: 5px solid salmon;
  text-align: center;
}

#game {
  background-color: whitesmoke;
  width: 300px; height: 170px;
  border-radius: 10px;
  border: 5px dashed rgb(108, 148, 221);
  text-align: center;
  padding-top: 10px;
}

#number, #text {
  font-size: 30px;
}

#result {
  font-size: 30px;
  width: 320px;
}

button {
  font-family: 'Single Day', cursive;
  background-color: lightskyblue;
  width: 65px; height: 45px;
  border-radius: 7px;
  border: 3px solid steelblue;
}

input {
  font-family: 'Single Day', cursive;
  width: 180px; height: 35px;
  border-radius: 7px;
  font-size: 20px;
}