body {
  margin: 30px;
  background-color: rgba(236, 129, 151, 0.308);
  font-family: 'Dokdo', cursive;
  font-size: 40px;
  user-select: none;
}

h1 {
  font-size: 60px;
  color: rgb(255, 17, 148);
  text-shadow: 5px 5px 5px rgb(49, 49, 49);
}

button {
  width: 140px; height: 100px;
  border: 5px solid purple;
  border-radius: 20px;
  background-color: rgb(185, 163, 228);
  font-family: 'Dokdo', cursive;
  font-size: xx-large;
  cursor: pointer;
}

button:hover {
  box-shadow: 3px 3px 2px 2px rgba(131, 128, 128, 0.637);
  color: aliceblue;
  background-color: mediumpurple;
  border: 5px solid rgb(255, 255, 255);
  font-size: 35px;
}

button:active {
  width: 120px; height: 90px;
}

.ball {
  display: inline-block;
  width: 50px; height: 50px;
  border-radius: 50%;
  margin-left: 10px;
  text-align: center;
  line-height: 50px;
  font-size: 35px;
}

#under_7 {
  background-color: red;
  box-shadow: 0 10px 10px 3px rgba(255, 0, 0, 0.26) inset, 0 -10px 15px 3px rgb(170, 35, 35) inset;
}

#under_13 {
  background-color: orangered;
  box-shadow: 0 10px 10px 3px rgba(255, 68, 0, 0.26) inset, 0 -10px 15px 3px rgb(175, 69, 30) inset;
}

#under_19 {
  background-color: yellow;
  box-shadow: 0 10px 10px 3px rgba(255, 255, 0, 0.432) inset, 0 -10px 15px 3px rgb(160, 160, 51) inset;
}

#under_25 {
  background-color: green;
  color: white;
  box-shadow: 0 10px 10px 3px rgba(3, 175, 3, 0.26) inset, 0 -10px 15px 3px rgb(9, 58, 9) inset;
}

#under_32 {
  background-color: blue;
  color: white;
  box-shadow: 0 10px 10px 3px rgba(74, 74, 236, 0.26) inset, 0 -10px 15px 3px rgb(15, 15, 73) inset;
}

#under_39 {
  background-color: navy;
  color: white;
  box-shadow: 0 10px 10px 3px rgba(48, 48, 131, 0.493) inset, 0 -10px 15px 2px rgb(8, 8, 65) inset;
}

#under_46 {
  background-color: purple;
  color: white;
  box-shadow: 0 10px 10px 3px rgba(172, 8, 172, 0.26) inset, 0 -10px 15px 3px rgb(66, 7, 66) inset;
}